<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DoenaSoft.DVDProfilerHelper" version="2.2.9" targetFramework="net452" />
  <package id="DoenaSoft.EnhancedPurchaseInfo.Interface" version="1.1.2" targetFramework="net452" />
  <package id="DoenaSoft.ToolBox" version="1.0.7" targetFramework="net452" />
  <package id="DoenaSoft.WindowsAPICodePack" version="1.1.1" targetFramework="net452" />
</packages>